[submodule "e57extract"]
	path = e57extract
	url = https://github.com/DURAARK/e57extract
[submodule "orthogen"]
	path = orthogen
	url = https://github.com/DURAARK/orthogen.git
[submodule "elecdetect"]
	path = elecdetect
	url = git@github.com:DURAARK/elecdetect.git
